@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "CoveredByYourGrace";
  src: url("/fonts/CoveredByYourGrace-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cake";
  src: url("/fonts/Cake.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "SofadiOne";
  src: url("/fonts/SofadiOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "SofadiOne", sans-serif;
}

.navbar-menu-toggle {
  color: white !important;
  font-size: 2rem !important;
}

.navbar-menu-toggle:hover {
  color: #fff !important;
}

:root {
  button[data-dapp-kit] {
    --dapp-kit-backgroundColors-primaryButton: #fb0c0c;
    --dapp-kit-backgroundColors-primaryButtonHover: #d80a0a;
    --dapp-kit-colors-body: #fff;
    --dapp-kit-colors-primaryButton: #fff;
  }
}
